{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <div class="form-book">
            <h1>La liste des livres enregistrés</h1>
            
            {% for book in books %}
                <div class="book col-md-4">
                    <h3>{{book.title}}</h3>
                    <p>Auteur: {{book.author}}</p>
                    <p>Date de parution: {{book.date|date("m/d/Y")}}</p>
                    <p>Résumé: {{book.summary}}</p>
                    <p>ISBN: {{book.isbn13}}</p>
                    <p><a href="{{book.url}}">Vers le livre</a></p>
                </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}